.header{
	font-size: 50px;
	color:#fff;
	padding: 24px 0;
	letter-spacing: 1px;
}
.first{
	list-style: none;
	bottom: 120px;
	position: relative;
}
.first li{
	display: inline-block;
	position: relative;
}
.first li:nth-child(2){
   bottom: 45px;
   margin-left: 30px;
   color:#00b5ff;
   font-size: 20px;
   font-weight: bold;
}